[2019-09-28 16:47] jongo-jingaro opened #1 "Feature request: resize and color based on time/s of launching"
I am a user, don't know programming. This is just how I think Last-Launcher should be.
- font resize based on how many times of particular app is launched (i.e. often used app shortcut font will be bigger)

- font random color based on how many times of particular app is launched (i.e. often used app shortcut font will be brighter)

- font color change with time like https://github.com/urtxintxa/H

[2019-09-29 01:35] Wilker-a opened #2 "Obtain icon primary colors & other color selection improvements"
hello :3

i came from F-Droid, and i saw and looked at the launcher, so here to give a couple of suggestions for it (if they don't increase the app size too much, that is)

- first, i find interesting to have most apps in gray-scale by default, as it avoids distractions from the ones to be used frequently, but i believe it would be nice to have an option to select one or more apps to set the color

[2019-09-29 10:48] SubhamTyagi commented on #1
Thanks for your suggestions.
1. Icon resize count is implemented in current version (i.e. 0.1)
2. Random font might confuse user as every time user see new color this will also hard to remember (i tested it. This confused me also. it was hard to locating the Apps). This will be optional and user will enable it from settings.
3. Font color with time (good for background purpose)

[2019-09-29 19:20] nussbaumer opened #3 "Feature request: Edit app names"
Many apps have long names, that clutter the list. A long press on the app name in the color/size changer to edit the name would be helpful.

[2019-09-29 19:29] nussbaumer opened #4 "Feature request: Access to App-Info"
Access to Androids App-Info is essential to any launcher. A  button [i] in the color/size changer would be most useful.
Very promising project, thanks!

[2019-09-29 20:03] Wilker-a commented on #4
a button for quick uninstall would be nice too :3

[2019-09-29 20:05] Wilker-a commented on #3
to keep it readable, having the default name or the package name shown in the info would be good for when someone forgets its original name

[2019-09-29 20:52] unInstance opened #5 "Scroll up further"
With today's screen sizes it's impossible to reach top of the display. Make it possible to scroll up further so that we can launch applications atop the screen with one hand.

[2019-09-29 21:20] nussbaumer commented on #4
Uninstall is one click away in App-Info. Lets keep it simple and avoid accidental unistalls.

[2019-09-29 21:51] renyuneyun opened #6 "Feature Request: color and size import / export"
**Requested feature**:

Import (and export) of color (and size and everything) of apps.

**Technical approach**:

Store the information into a structured file, e.g. json. Each section (e.g. element in array) contains three elements: appId, color and size.
AppId and color are absolute values. Size can be absolute or relative, depending on the design.
When importing into the app (launcher), find mat

[2019-09-29 22:02] OffifialMITX commented on #4
@nussbaumer Well you'll have to confirm the uninstall in it's own dialog anyway.

[2019-09-29 22:03] renyuneyun opened #7 "Feature request: app widgets"
**Requested feature**:

Support app widgets.

The easiest approach may be to have the widgets exist on a different screen (e.g. swipe left or right).

**Explanation**:

This may be a long-term thing. I don't have much knowledge of developing launchers, but I can imagine app widgets are not just texts -- meaning they will be more difficult to handle.
The fact that they are AppWidget makes them more

[2019-09-30 10:26] SubhamTyagi commented on #4
i have push some code, in next few days it will be rolled out as i create a tag.

[2019-10-01 11:59] phamvuau opened #8 "Feature Request: show PWAs"
I use some apps which are installed from their website directly (Twitter for example). I would like to see them in this launcher. Thank you.

[2019-10-01 13:27] Frenzie opened #9 "FR: Folders"
Similar rationale as #3, i.e., to reduce clutter.

Grouping similar apps (like various settings, banking, games, etc.) can be inherently useful.

Besides that there are various things like "SIM Toolkit" or "YouTube" that I can't or don't want to disable, but don't normally want to see prominently in my primary view. Playing around with colors and sizes only helps a little; it won't help to reduce

[2019-10-01 14:05] SubhamTyagi commented on #3
https://github.com/SubhamTyagi/Last-Launcher/commit/c567319b4477882df425317dfd38927d95d4835c fixed

[2019-10-01 19:57] Wilker-a commented on #4
@Subham just a heads-up: you can write in the commit message things like `see #4` or `fixes #4` to automatically close an issue which the commit refers to.

:3

[2019-10-01 19:57] Wilker-a commented on #4
@Subham just a heads-up: you can write in the commit message things like `see #4` or `fixes #4` to automatically close an issue which the commit refers to.

:3

[2019-10-02 03:31] SubhamTyagi commented on #4
@Wilker-a  i know but i doesn't want to close any issues yet. To avoid any duplication of issues, these will be closed when i create a tag release

[2019-10-02 14:42] iomintz opened #10 "Ability to set all app's color to a random color"
Allows spotting the app you want more easily.

[2019-10-02 14:43] iomintz opened #11 "Support launching Work Profile apps"
It should display the name with a "work" badge or (Work) in small font.

[2019-10-02 14:43] iomintz opened #12 "Ability to choose a custom background image / color"

[2019-10-02 20:24] Wilker-a commented on #12
useful settings could include

- background opacity
- background (wallpaper|live wallpaper)
- text (shadows|outline) and background opacity, and color
- maybe an option to make the text background corners rounded

[2019-10-04 12:53] janPasi opened #13 "Font sizing improvements"
This is a cool piece of software, here's my 2 cents for the future development:

1) While for some users it's probably convenient to have the launcher increase the font size based on use frequency of the app (#1), there should be a way to disable this behaviour. I'd prefer to set the sizes of the apps myself and not have the launcher touch them after that.

2) When the size of the app font gets la

[2019-10-04 13:45] SubhamTyagi commented on #13
Thanks for your valuable suggestions. I will implement this next preview release.

[2019-10-08 19:07] iomintz commented on #9
I think an option to hide an app (from the home screen) and then show it again (from settings) would perhaps be more suitable. I feel like folders go against the KISS philosophy of this app.

[2019-10-08 19:42] Frenzie commented on #9
A special-case hidden folder sounds a lot more complex to use and less useful to boot. Note that the ability to easily "hide" rarely used items (while still keeping them easily accessible!) is listed as a positive side effect of folders, not as the rationale.

In any case, #3 is more important. Certain names are just plain ridiculous, e.g., the uninformative `Banking` for the ING app and ludicrous

[2019-10-10 04:58] patbel-pwr opened #14 "Feature request: multiple workspaces"
Mine is also similar to #3 and #9 perhaps those all issues should be merged and named as 'Organizing' stuff or something similar. This project effeminately need to allow some way to organize things.

Anyway, how about instead of adding folders support, it will be possible to create workspaces matrix in which we will be able to move app names?

For example:
user will create 2x2 grid (just like defa

[2019-10-10 05:08] patbel-pwr opened #15 "Limit user choice of colors and font sizes, or simplify them"
Something that was mentioned in #2 in third point, but in other way:

My idea is to actually limit user ability to pick color from slider and font size as well.

Instead it will make it more easy to organize things if you could pick from like 10 predefined colors, and 6 predefined font sizes as apps that are intended to be grouped by color or size, will actually get the same color & size as apps i

[2019-10-11 04:54] #1 closed

[2019-10-11 04:54] #3 closed

[2019-10-11 04:55] #4 closed

[2019-10-11 05:02] SubhamTyagi commented on #14
dup #11
rel #8

[2019-10-11 06:05] iomintz commented on #14
This is not a duplicate of #11. Workspaces are specific to the launcher. Work profile is a separate system account.

[2019-10-11 09:28] SubhamTyagi commented on #14
@iomintz are you referring to folders?

[2019-10-11 23:40] iomintz commented on #14
I'm confused. Judging by this comment:

I thought you were saying that this issue duplicates issue #11. Am I misunderstanding?

[2019-10-12 04:12] Wilker-a commented on #15
tabs needs less clicks to achieve than dropdown menus.
depending on the settings that will eventually appear, i guess tabs are still good :3

[2019-10-12 04:33] Wilker-a commented on #9
if folders are to be added, i would imagine it as something like a folder tree, where each folder is in one line unless specified otherwise, while the folder indicators still uses single chars like `›` and `‹` , or having the name enclosed in brackets or parenthesis like `[folder]›`.

an example would be like

Another thing  Browser  Chat  Game  Other thing  Thing
[folder]‹
  Pictures  Settings  S

[2019-10-12 13:42] Frenzie opened #16 "FR: Sort apps by display name, groups ,categories etc."
Thanks for implementing #3! Unfortunately it's not quite working as I expected. It's useful to clarify vague app names or to shorten them (e.g., `Translator` is the Microsoft Translator, `Banking` is the ING banking app, etc.) but apps aren't sorted by their new display names.

[2019-10-12 13:59] Frenzie commented on #9
A folder on one line sounds quite wasteful space-wise, possibly even defeating the point for me.

I don't envision it much differently than how it looks right now.

<img src=https://user-images.githubusercontent.com/202757/66702064-bd697280-ed03-11e9-8bc2-edc06397b160.png width=40%>

On that screenshot `Banking` is the ING app; instead it could be the `Bank(ing)` folder that contains the ING app,

[2019-10-12 14:09] SubhamTyagi commented on #16
yes,after renaming apps are not sorted.  Just wait for a few releases. Sorting of apps will be implement in various ways(by categories,by app names, by usage times, by user defined:)

[2019-10-12 14:15] Frenzie commented on #16
Sounds good! For user defined a sorting name might be of interest. That way instead of having to drag apps around manually, one could use something like `prefix.[AppName]` as a sorting name to group apps together.

Unless category is user editable. But as something from the app/store/whatever it seems less useful to me. :-)

[2019-10-13 08:56] avt613 opened #17 "Feature request: Hide apps"
My phone has a few (system) apps which I never use. It would be much easier if these apps could be excluded from the launchers list.

[2019-10-13 09:13] r4c3c0nD1t10n commented on #17
One way around is to rename the app to a white space.

[2019-10-14 07:25] patbel-pwr opened #18 "Renaming apps - copy app name to box"
I think app name should be copied to box where you're typing new app name, because I'm never sure whether I clicked on the app I meant. Text can be fully highlighted within box, so users can easily erase whats in it.
OR
show app name that you're editing above text box.

Both will provide sufficient info for editing app names.

[2019-10-15 09:07] SubhamTyagi opened #19 "[Feedback] Default fonts"
The system default font rendering is not elegant and impressive for this launcher. As a feature launcher must have a options to change fonts and have its own default fonts, for this i have implemented a option for this.

On my phone i used 'Google Product sans fonts' as you can see in screenshots. As this font is proprietary and can't be used in F-droid app. So App have a requirement of  open sour

[2019-10-17 16:31] #18 closed

[2019-10-19 14:10] alternativesurfer commented on #12
Yes, this would be great because I don't have enough apps to fill my screen....which means I am left with a huge white space at the bottom under the black background that Last Launcher takes up.

[2019-10-19 20:34] esmoak commented on #19
How about Noto Sans and Noto Serif?

I believe those were designed to look good across multiple languages so that would be a good starting place, in my opinion.

[2019-10-20 23:30] trevorparsons opened #20 "Feature request: allow rotation"
Please considering including a settings option to enable rotation in response to device orientation.

[2019-10-21 18:44] SubhamTyagi commented on #19
check your fonts in this release
[Last-Launcher-release-0.3-20191021235020.zip](https://github.com/SubhamTyagi/Last-Launcher/files/3752400/Last-Launcher-release-0.3-20191021235020.zip)

[2019-10-21 19:12] esmoak commented on #19
The font looks good. And I love all the other changes.

Am I supposed to have the option to change the font? When I click fonts, it opens my file manager and looks for fonts on my device.

[2019-10-22 02:20] SubhamTyagi commented on #19
@esmoak

Long click on empty area you will get Global menu where you can find the fonts and other settings.

[2019-10-22 04:41] SubhamTyagi commented on #19
Raleway fonts
![Raleway](https://i.imgur.com/UKMOxA4.png)

[2019-10-22 04:45] SubhamTyagi commented on #19
quickland fonts

![Quick land](https://i.imgur.com/8xjadbx.png)

[2019-10-22 04:45] SubhamTyagi commented on #19
open sans
![open sans](https://i.imgur.com/KdW5jV0.png)

[2019-10-22 04:46] SubhamTyagi commented on #19
asimov fonts

![asimov](https://i.imgur.com/p1qDW7I.png)

[2019-10-22 04:46] SubhamTyagi commented on #19
azonix fonts

![azonix](https://i.imgur.com/jbGbBou.png)

[2019-10-22 04:47] SubhamTyagi commented on #19
moneserrat fonts
![moneserrat](https://i.imgur.com/zZpDB71.png)

[2019-10-22 04:48] SubhamTyagi commented on #19
texgyreadventure fonts
![texgyreadventure](https://i.imgur.com/uHydRIC.png)

[2019-10-22 04:49] SubhamTyagi commented on #19
glacial fonts
![glacial](https://i.imgur.com/VeR1olN.png)

[2019-10-22 04:49] SubhamTyagi commented on #19
cello sans
![cello sans](https://i.imgur.com/4Ak48RO.png)

[2019-10-22 04:50] SubhamTyagi commented on #19
comforta fonts
![comforta](https://i.imgur.com/TGlxmJf.png)

[2019-10-22 04:50] SubhamTyagi commented on #19
avrile sans

![avrile sans](https://i.imgur.com/2QETEc5.png)

[2019-10-22 05:06] SubhamTyagi commented on #19
@esmoak

noto sans

![noto sans](https://i.imgur.com/o2NkDyP.png)

noto serif

![noto serif](https://i.imgur.com/A7QRmOY.png)

[2019-10-22 10:48] esmoak commented on #19
@SubhamTyagi

It doesn’t let me select a font.

1) long click black area
2) select fonts
3) phone requests permission to access files on device
4) allow permission
5) launcher opens the built in android file manager

Android 8.0Huawei  BND-L34

[2019-10-25 09:47] snehithpvp opened #22 "Bing is so good for me Now When i tap get answer, it is showing 0 0 0 But trivia helper helper bing is working good In Trivia hack is not getting But i like trivia hack only Pls bro fix this issue I don't know how to contact you I have only this process to contact you"
Bing is so good for me
Now When i tap get answer, it is showing 0 0 0
But trivia helper helper bing is working good
In Trivia hack is not getting
But i like trivia hack only

Pls bro fix this issue
I don't know how to contact you
I have only this process to contact you

[2019-10-27 14:11] esmoak commented on #9
I think a possibly better option than folders would be a “sort by color,” “sort by size,” and “sort by name” option.

[2019-10-27 23:31] esmoak opened #23 "[Bug] Disappearing apps and apps not staying in Android recent menu"
0.3.3 from F-droid

Tried doing a fresh install after removing previous version. Reboot phone, etc.
 HUAWEI
Android 8.0

Some apps disappear from the launcher after clicking on them, some launch but don’t stay in recent menu. Only way to fix is reset to default every time.

edit: It appears that locking the app size prevents them disappearing on my device. Will troubleshoot some more...

[2019-10-28 04:59] unInstance commented on #23
same thing chiron, android pie

[2019-10-28 06:54] SubhamTyagi commented on #16
https://github.com/SubhamTyagi/Last-Launcher/issues/9#issuecomment-546698345

[2019-10-28 09:53] Esselans commented on #23
Same. Android one (9, latest patch). Confirmed workaround is resetting to default and freezing all apps.

[2019-10-30 06:27] #19 closed

[2019-10-30 21:22] IronJaeger commented on #23
Same exact thing on Android 7.1.1

[2019-11-02 19:21] esmoak commented on #23
New version just hit  F-droid.

Almost everything is solved.

I have not checked all apps, but for some reason RedReader from F-droid won’t stay in recents menu but everything else so far does. Not sure if there is something specific about that app, maybe something to do with being a webview wrapper?

[2019-11-04 20:00] tkarakashian commented on #7
Seconding this one.  I know it's listed as a feature of the launcher that it doesn't support widgets, but it's the only significant downside for me right now.

[2019-11-04 20:03] tkarakashian commented on #8
Would these be considered "shortcuts"?  If so, agreed.  I use [Hermit](https://hermit.chimbori.com/) to replace a number of apps with their web versions to minimize junk on my phone. Would be great if I could add them to Last as well.

[2019-11-05 03:39] dpygo opened #24 "Can not hide navigation bar!"
This app is awesome, Thanks very much. But, i cannot hide navigation bar. Please fixs it!

[2019-11-05 08:29] SubhamTyagi commented on #24
could you explain why you need this type of restriction?

[2019-11-05 13:20] SubhamTyagi opened #25 "[meta] Fonts selection improvement"
What must be do before stable version

- Copy user selected fonts to apps private storage.
- Reset fonts to default settings entry.
- Fonts selection improvement (search for fonts on internal storage).
-

[2019-11-05 13:26] SubhamTyagi commented on #25
Worst case of

java.lang.RuntimeException: Unable to start activity ComponentInfo{io.github.subhamtyagi.lastlauncher/io.github.subhamtyagi.lastlauncher.LauncherActivity}: java.lang.RuntimeException: Font not found /storage/emulated/0/Download/product-sans/Product Sans Italic.ttf
	at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2723)
	at ....more
Caused by: java.lang.Runtime

[2019-11-05 13:37] SubhamTyagi opened #26 "[meta] Tutorial for Launcher"
Desirable feature: may be before stable version release
-  On first start:
1. Custom settings selection and default settings selection (i.e. fonts, size, colors,hide apps, restore from old backups etc.)
2. App must navigate to select default launcher selection settings
3. Tutorial for app

[2019-11-05 13:39] SubhamTyagi opened #27 "[meta] Settings access from Launcher activities"
Must be done before stable release.
- Settings access from Launcher activities

[2019-11-05 13:45] SubhamTyagi opened #28 "[meta] Backup/Restore"
Must be done before stable release

- Backend migrate to json/xml
- Automatic backup at specific time.
- Search for old Backup files.
- Backup file folder selection.

[2019-11-05 13:49] SubhamTyagi opened #29 "[meta] Universal app size control"
User must have a options to increase/ decrease all apps text size at onces

[2019-11-05 13:54] SubhamTyagi opened #30 "[meta] Hidden app list"
Must be done before stable release

- A list that shows hidden apps
- User can remove/add any apps.

[2019-11-05 13:57] SubhamTyagi opened #31 "[meta] Freeze app list"
Must be done before stable release
- A list of apps those size are freezed
-  add/remove any apps

[2019-11-05 14:09] SubhamTyagi opened #32 "Visualise app name in popup menu"
Popup menu must show the app name of that apps.

[2019-11-05 14:13] SubhamTyagi opened #33 "[meta] Combine color and size menu item"
Combine color and size popup menu entry so that user can set color and size in less click and in appropriate manner

[2019-11-05 14:19] #13 closed

[2019-11-05 14:24] SubhamTyagi commented on #6
dep #28

[2019-11-26 02:42] ralmcruz commented on #31
The app is great the way it is. Super fast, small and simple. Less is better.

[2019-12-14 11:51] ralmcruz opened #34 "Banco inter"
The app Banco Inter FC everytime after launched by Last Launcher. Only this app has this behavior.

https://play.google.com/store/apps/details?id=br.com.intermedium

[2019-12-14 16:56] Gio1422 opened #35 "v0.4 apps don't stay in recents after clearing them from overview"
This issue isn't present in the previous launcher I used, which is "no launcher" from the play store

[2019-12-23 10:59] skulko opened #36 "not all apps are shown in 'Recent screen'"
Hi, I like this launcher a lot, however I found that only a few apps are kept in the recent apps switcher

[2020-01-10 22:30] LeSnake04 opened #37 "Add search bar"
Please add an search bar!

[2020-01-13 06:52] SubhamTyagi commented on #34
i didn't understand the problem could you further elaborate it

[2020-01-14 00:29] ralmcruz commented on #34
Well, after i tap the app (banco inter) it launches and  then closes. Everytime that happens. Only happens with this specific app.

[2020-01-16 16:16] chihuahua45 opened #39 "Align items to the right"
"Align right/left" option would be great; Reduces clutter !!! Here's a mock up:
![Screenshot_20200116-213314](https://user-images.githubusercontent.com/58571136/72541644-e2442780-38a8-11ea-91f2-429f90b6f68f.png)

[2020-01-16 17:05] chihuahua45 commented on #37
Rather than a search bar, hitting home button to search would help save screen space. Correct ?

[2020-01-18 22:10] LeSnake04 commented on #37
Thats sounds nice. good idea

[2020-01-28 06:26] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #36
+1

[2020-01-28 06:29] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #7
+1
Understand that graphical widgets would be impossible, but others like Greenify's sleep and hibernate are kind of essential for me.
Thanks.
This launcher is an awesome concept!

[2020-01-29 08:29] SubhamTyagi commented on #7
App Widget support may be supported in later version (v2).
A swipe gesture (left or right but only one not both) will leads to new screen where App widget may be shown.

[2020-01-30 12:49] ralmcruz commented on #7
This is a great launcher already. The absence of "icon and widgets" is a advantage for an launcher that is "simple and minimal".

[2020-01-31 08:39] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #7
Sure, absolutely agree that it's a great launcher. It wouldn't be spoilt by having entries that were a functional task (rather than graphical). They could be made indistinguishable from the existing app entries, and it wouldn't alter the look and feel.

[2020-01-31 08:41] c-o-m-m-a-n-d-e-r-d-a-t-a opened #40 "Sometimes the launcher doesn't open immediately on pressing the home button"
I get a delay of several seconds sometimes when I hit the 'home' button on my Moto G6, or when I unlock it. In the meantime there's just a black screen. Non rooted, standard device.

[2020-02-01 23:10] renyuneyun commented on #7
@ralmcruz I agree this is a great launcher and the absence of icons on the main page is its advantage.
But it doesn't harm anything if the launcher "can" support widgets. I also felt it would spoil the feeling of the main page, and that's why I suggested adding it to a separated page instead of mixing into the main page.

------
Slightly modified the wording of the issue -- the last sentence was a

[2020-02-02 18:10] renyuneyun commented on #2
@SubhamTyagi How do you feel like to have a companion app to determine the colors and then import from Last Launcher (or through a `startActivityForResult()` call to make the process more intuitive)?

I set a (very basic) app [ColorSniffer](https://github.com/renyuneyun/ColorSniffer) to obtain the custom color-codings for all apps. It currently obtains the main color of app icons and copy that to

[2020-02-03 11:23] SubhamTyagi commented on #2
That would be a great! and this would replace temporary [Random Color ](https://github.com/SubhamTyagi/Last-Launcher/blob/master/fastlane/metadata/android/en-US/images/phoneScreenshots/4.png?raw=true).
Go head 👍

[2020-02-03 19:39] QuibblingAsh42 commented on #7
Agreed.  It's possible for two people to have the same wants or need at the macro level, but those differ in nuance.  I love Last's text-based interface, but wouldn't begrudge someone's desire to also have widgets as well.  It's also possible to have the capability of using widgets in the launcher and not USE that capability in practice.

[2020-02-04 18:02] renyuneyun opened #41 "Color generation companion app"
In the discussion of #2, there is a consensus (?) of having a companion app ([ColorSniffer](https://github.com/renyuneyun/ColorSniffer)) to determine the app colors. I'm opening this issue thread for general discussion of the interaction between Last Launcher and the companion app and tracking related issues.

Possibly related (i.e. may be solved by the companion app) issues:

* [ ] #2
* [ ] #6
*

[2020-02-04 18:18] renyuneyun commented on #41
The first question is: how does Last Launcher interact with the companion app?

1. Currently ColorSniffer can export the color schema to clipboard. If this approach is used, Last Launcher also needs to support import from clipboard.
2. A potentially more intuitive way is to pass information through `startActivityForResult()`. The companion app returns the data through the `Intent`. There are two p

[2020-02-07 05:11] SubhamTyagi commented on #41
Although it is straightforward but It is not a long time approach, Android 11... or newer version might removed this. Keep this feature alive in your app i will also work on this. Could you provide and unique string before the DATA to validate its sources.

Both way interaction is better than one way.

  ii. use the app launcher names as keys, and put the color as values

👍 could you also provide

[2020-02-07 10:06] SubhamTyagi commented on #41
I have make the [some changes ](https://github.com/SubhamTyagi/Last-Launcher/commit/26ed701243d01d2f298faf68d3bd25ab1c6d7a61) to app in which app  sending some data

1. [Default Color integer](https://github.com/SubhamTyagi/Last-Launcher/blob/41bce292f7ef8e344e54bf9a4733e3178f57fe78/app/src/main/java/io/github/subhamtyagi/lastlauncher/dialogs/GlobalSettings.java#L139) (key:  `default_color_for_app

[2020-02-08 00:11] renyuneyun commented on #41
I didn't find any information about why Android would remove clipboard. The only source I found was [Android 10 changes](https://developer.android.com/about/versions/10/privacy/changes#clipboard-data), but it does no harm to this usage: both apps will be in front ground when accessing clipboard.

Anyway, your specification matches my expectation too. I'm making changes according to it.

[2020-02-08 09:30] SubhamTyagi commented on #41
We didn't trust Google possibility

[2020-02-15 21:15] renyuneyun commented on #41
How about passing the "default color" like this?:

- Last Launcher passes it with key `default_color_for_apps`
- ColorSniffer passes the `Intent` (`Bundle`) containing the (possibily) updated `default_color_for_apps`, and this same `Intent` (`Bundle`) contains the other `Bundle` discussed above (i.e. nested)
    - It doesn't directly set all "other" apps with this default color value in the nested

[2020-03-27 10:11] #30 closed

[2020-03-27 10:11] #31 closed

[2020-03-27 11:57] SubhamTyagi commented on #41
i will pass the app list which will keep as "unchanged" color, and you can exclude these apps when passing the bundle to last launcher.

@renyuneyun ?

[2020-03-27 12:07] SubhamTyagi commented on #10
Note for myself.
1. it is removed in v0.6,
2. moved to ColorSniffer app
3. reconsidering, if requireed

[2020-03-29 07:38] SubhamTyagi commented on #17
fixed

[2020-03-29 07:38] #17 closed

[2020-04-02 09:59] SubhamTyagi commented on #36
temporary reopen...

[2020-04-02 10:01] SubhamTyagi commented on #34
This is also happen with  _miui calculator_

[2020-04-02 10:01] SubhamTyagi commented on #34
fixed in v0.6

[2020-04-02 10:06] SubhamTyagi commented on #24
no launcher hide navigation bar. So Last launcher will not hide navigation bar until.

but navigation bar color doesn't match with Last Launcher theme so this issues is used as track for navigation bar color

[2020-04-02 10:08] SubhamTyagi commented on #10
c

[2020-04-02 10:08] #10 closed

[2020-04-02 10:08] #6 closed

[2020-04-02 10:10] SubhamTyagi commented on #23
fixed in v0.6

[2020-04-03 11:27] TheLastProject commented on #41
I must say that I don't quite understand why this would be done as an external app instead of just having the built-in random colour generation instead use the app name as an "input hash" so it always generates the same colour for each app name, I do want to state my support in having the colours remain the same always for each app, makes looking for the right app much much faster.

[2020-04-03 17:26] ralmcruz commented on #34
Thank you very much. Solved.

[2020-04-03 17:26] #34 closed

[2020-04-04 15:54] esmoak opened #46 "[Feature Request] Reorder long press menu"
When long pressing on an app, it would be helpful if the "reset" option was on the very top or bottom so as to not accidentally press it when renaming an app. I think top would be better so it is harder to reach.

Also, it would be helpful if frozen apps can't be reset in general. That freeze state applies to name, size, and color.

Also, Freezed apps should probably be changed to Frozen

Thanks f

[2020-04-04 15:59] esmoak opened #47 "[Feature Request] Margin padding and alignment"
It would be great if there was an option to set the amount of margin on the top, bottom, left, and right, for extra unused space.

Also, an option to align all apps on the left, center, or right, as a list, would be fantastic . Edit, realized this is same as #39

- [x] Alignment
- [x] Margin or Padding

[2020-04-04 16:19] SubhamTyagi commented on #39
![IMG_20200404_210720](https://user-images.githubusercontent.com/12555601/78455777-def95480-76bd-11ea-8cda-62e5044bb437.jpg)
![IMG_20200404_210614](https://user-images.githubusercontent.com/12555601/78455796-f6d0d880-76bd-11ea-9c46-bd40da29d12d.jpg)

left and right alignment

[2020-04-04 16:23] SubhamTyagi commented on #47
https://github.com/SubhamTyagi/Last-Launcher/issues/39#issuecomment-609052392

Alignment achieved :smile:

[2020-04-04 16:30] SubhamTyagi commented on #46
also "Irrevocable Operations Item" entries could be in "red" color

👍

[2020-04-04 20:07] TheLastProject opened #48 "Limit max size to one single row"
It gets a bit ridiculous otherwise:
![image](https://user-images.githubusercontent.com/1885159/78460381-a313be80-76c0-11ea-8a16-e64fe44c79c0.png)

[2020-04-04 20:15] TheLastProject opened #49 "Make other apps smaller when not used"
From reading the source code it seems that app names only increase, which means even apps you never use will eventually be really big.

The refreshAppSize function should probably make all other apps smaller: https://github.com/SubhamTyagi/Last-Launcher/blob/d39c9b605a21979c0efb36e0e9cf702e7d0f214d/app/src/main/java/io/github/subhamtyagi/lastlauncher/LauncherActivity.java#L276-L286

It should prob

[2020-04-05 01:04] esmoak commented on #47
You are the best. Closing this. I will reopen if you want me to leave padding suggesting here

[2020-04-05 15:46] SubhamTyagi commented on #49
no, none app size increase other than which is being opened.

great idea.

Here i have some idea other than getting UsageStats permission

Sum of size of all apps could be a Constant all time. so when one app size increase other app size decrease.

May i know what is your opinion about this?

[2020-04-05 15:50] SubhamTyagi commented on #49
https://github.com/SubhamTyagi/Last-Launcher/blob/d39c9b605a21979c0efb36e0e9cf702e7d0f214d/app/src/main/java/io/github/subhamtyagi/lastlauncher/LauncherActivity.java#L277-L279

only given App(passing as activity) size is increasing

[2020-04-05 15:52] SubhamTyagi commented on #48
i will ensure and given a options to MAX APP size

[2020-04-05 15:54] TheLastProject commented on #49
Yeah that sounds good

[2020-04-05 16:03] SubhamTyagi commented on #47
@esmoak margin padding is in progress 😉

[2020-04-06 00:35] esmoak commented on #23
Confirmed fixed for me. Think this is also similar to #36

Thanks again for the awesome work

[2020-04-06 00:35] #23 closed

[2020-04-06 01:16] esmoak commented on #37
If this gets implemented, I think a gesture would be better--maybe because I obsessively hit the home button and wouldn't want search popping up on accident.

Like maybe a double tap or a swipe up in blank space. Or a set tap zone in the bottom corners that can't be occupied by an app name...

[2020-04-06 08:49] #35 closed

[2020-04-06 08:49] #36 closed

[2020-04-06 11:09] #46 closed

[2020-04-06 12:04] Ctrl-A-Del commented on #5
Maybe you could implement a default setting to align the apps with the bottom of the screen, instead of the top

[2020-04-09 08:04] SubhamTyagi commented on #5
Hi @unInstance, i have implemented the padding to TOP, BOTTOM, RIGHT, LEFT, so user can adjust padding according to own needs. I hope this will be helpful. This new feature will be in version v0.8.

[2020-04-09 08:10] SubhamTyagi commented on #47
padding... 🎁

![1](https://user-images.githubusercontent.com/12555601/78872863-86340e00-7a67-11ea-99d0-f90c3f542b77.jpg)

[2020-04-09 08:11] #47 closed

[2020-04-09 09:17] #33 closed

[2020-04-09 09:24] SubhamTyagi commented on #15
I have removed slider from app size and replaced it with a new UI that will more accurate and more convenient. i hope this will simplify UX and better than old slider.

[2020-04-09 09:31] #27 closed

[2020-04-09 18:03] midros opened #52 "option to run hidden apps ?"
It would be very convenient to be able to start also hidden apps.

Right now you only have the option to remove them from the hidden list, but if you also have the option to run them, you could hide the ones that are rarely used

[2020-04-16 08:42] unInstance commented on #5
This is super sweet but can you please increase the top padding limit from 300 to 1000?

[2020-04-16 11:52] unInstance commented on #15
Ability to customize and orientation toward users who know what they want is the beauty of FOSS. Do not deprive us of this freedom. @patbel-pwr wants to apply same color across a group of applications. You can leave slider the way it is and add the ability to set the color in hex format.

[2020-04-17 13:44] wyfhust commented on #28
dear devs，the backup button makes a crash on android 6, can you fix it all just give me some advice on that.

[2020-04-18 02:50] gabriel-tandil opened #53 "reset app color todo default"
Allow to reset app color todo default
It is no posible currently

[2020-04-20 11:25] chihuahua45 commented on #39
Lol... Not what I asked for, dev !!

Please see the mock up above - One single list of one app per row, aligned right (or left for lefties)

[2020-04-20 11:34] chihuahua45 commented on #37
Agreed. Gesture's better than hitting home

[2020-04-20 12:25] chihuahua45 commented on #37
@dev - Please include hidden apps in the search.

[2020-04-20 12:30] chihuahua45 opened #54 "Add shortcuts to homescreen"
Ability to add shortcuts to home screen from other apps like Browsers, Shortcut  Creator etc

[2020-04-20 12:32] chihuahua45 commented on #52
Seconded ! The search function (when implemented) should take care of that

[2020-04-20 13:47] SubhamTyagi opened #55 "Backup button makes a crash on android 6"
dear devs，the backup button makes a crash on android 6, can you fix it all just give me some advice on that.

_Originally posted by @wyfhust in https://github.com/SubhamTyagi/Last-Launcher/issues/28#issuecomment-615252303_

[2020-04-21 12:28] wyfhust opened #56 "Global setting about the Last-Launcher"
Dears dev
To call out the existing global settings need to long-press the blank part of the text, which is a little difficult to click, especially when there are many apps.
Since “last launcher” will also appear in the app list, and clicking it has no effect other than gradually getting larger, most people will hide the app. I recommend putting the global settings here. This has two advantages: 1.

[2020-04-21 13:22] SubhamTyagi commented on #56
i also think it would be replaced by launcher settings. In older versions(before v0.4) Last launcher was not appear on home screen.

[2020-04-21 13:26] wyfhust commented on #56
ok, let me try version 0.4

[2020-04-21 14:51] SubhamTyagi commented on #39
@chihuahua45

increase left or right padding will make this almost similar to above mockups

[2020-04-21 15:08] SubhamTyagi commented on #56
No need to try old version.  i intentionally made this available through Launcher,  Currently this launcher doesn't request to make this default launcher. When it enter stable version, launchers will asked to make it default launcher and will remove launcher entry or may leads to Setting

[2020-04-21 16:56] chihuahua45 commented on #39
Tried that. This is what I get:

![Screenshot_20200421-221833](https://user-images.githubusercontent.com/58571136/79891784-19cded00-841f-11ea-966b-51127b235763.png)

[2020-04-21 16:58] chihuahua45 commented on #39
All i want is a list with one app per row

[2020-04-21 17:17] chihuahua45 commented on #39
All i want is a list with one app per row. Something like this 👇

![Screenshot_20200421-224345](https://user-images.githubusercontent.com/58571136/79893629-f7899e80-8421-11ea-99d7-80e280f82e28.png)

[2020-04-22 00:42] rarnhe commented on #56
Good suggestion. Seems be a good idea.

[2020-04-24 07:56] midros commented on #52
great this option is already added. Thanks a lot
BUT
now when you long press on an app, in the menu that comes on, the last three options are blank.
(not visible although they work)

![Screenshot_2020-04-24-10-52-32](https://user-images.githubusercontent.com/32762300/80188673-2ec2a000-861a-11ea-8e1d-536e6361dee8.png)

[2020-04-24 10:52] SubhamTyagi commented on #39
I did as issues title said!

now i understand what you want.

[2020-04-24 11:13] #29 closed

[2020-04-24 15:54] SubhamTyagi commented on #52
@midros
Android version:??
Device:??

[2020-04-24 15:56] SubhamTyagi commented on #52
Is this reproducible if you change Theme to other one?

[2020-04-24 16:52] midros commented on #52
Android  version 5.1
Motorola moto g3

Same thing on all themes.

[2020-04-24 21:55] fweisser opened #57 "screen reduplication bug when using background image"
**When I try to set the design to "Background" the screen seems to use itself as background.**

After I set my background image with an external program, I try to make Last Launcher use that image by going to the menu and then _designs_ > _background image_. After that I see the wanted background image in the background, but a few moments later the screen seems to somehow reduplicate itself.

For

[2020-04-25 10:05] chihuahua45 commented on #39
Your interpretation of "align right/left" is nice too 👌 I'm beginning to like it.

I hope my request will be treated as an "additional" feature without getting rid of any of the current "alignment settings" in the app

[2020-04-25 12:10] SubhamTyagi opened #58 "Red popup menus items are not visible"
Now when you long press on an app, in the menu that comes on, the last three options are blank.
(not visible although they work)

![Screenshot_2020-04-24-10-52-32](https://user-images.githubusercontent.com/32762300/80188673-2ec2a000-861a-11ea-8e1d-536e6361dee8.png)

_Originally posted by @midros in https://github.com/SubhamTyagi/Last-Launcher/issues/52#issuecomment-618863833_

[2020-04-25 12:10] #52 closed

[2020-04-25 12:10] #53 closed

[2020-04-25 12:11] #5 closed

[2020-04-26 14:28] 121593 opened #59 "Samsung's dual messenger apps not showing"
Samsung's [Dual messenger](https://www.samsung.com/global/galaxy/what-is/dual-messenger/) lets you have two accounts for messaging apps.

The second app does not show up on the Launcher as `pm` does not return the second instance of the app in the list `List<ResolveInfo> activities = pm.queryIntentActivities(startupIntent, 0);`

Is there a way to get another, more complete, app list ?

Thx a lot f

[2020-04-27 06:34] SubhamTyagi commented on #58
@midros

could you check in this bulid if this gone

[2020-05-01 09:23] SubhamTyagi commented on #37
fixed and available in version v0.11

[2020-05-02 14:23] #37 closed

[2020-05-03 07:37] midros commented on #58
fixed with the last update
nice!

[2020-05-03 07:56] chihuahua45 commented on #54
It's not working, dev...  I'm on app version 0.10

[2020-05-03 11:02] #8 closed

[2020-05-03 11:02] #16 closed

[2020-05-03 11:03] #58 closed

[2020-05-03 11:27] SubhamTyagi commented on #54
@chihuahua45

Older shortcuts or PWA will not be listed in launcher.

Add some new shortcut or PWA.

[2020-05-03 12:26] ruipachecoOS opened #62 "[Quick-fix] Add android.permission.REQUEST_DELETE_PACKAGES"
Hi,

Since Android P deleting apps requires manifest permission "android.permission.REQUEST_DELETE_PACKAGES" no matter if you use "ACTION_DELETE" or "ACTION_UNINSTALL_PACKAGE".

source -> https://developer.android.com/reference/android/content/Intent.html#ACTION_UNINSTALL_PACKAGE

Please add it to the manifest 🗡️  :D

[2020-05-03 12:50] ruipachecoOS commented on #62
Thanks for this app!!!

[2020-05-03 13:42] aacero commented on #20
+1 Having the launcher respect the orientation would make using it, on tablets especially, much more comfortable.

[2020-05-03 14:09] SubhamTyagi commented on #54
A serious memory leak is detected when deleting the shortcut.

[2020-05-03 15:33] chihuahua45 commented on #54
No probs, bruh.. Take your time.

[2020-05-04 12:17] SubhamTyagi commented on #62
Thanks

[2020-05-04 12:30] #62 closed

[2020-05-07 11:32] comradekingu opened #63 "Weblate instead of Crowdin"
I want to provide a nb_NO translation for this, but don't want the tracking and profiling of Crowdin.
KISS, HgLauncher and others are already on Hosted Weblate. :)

[2020-05-07 21:33] gabriel-tandil opened #64 "spanish traslation ready"
spanish traslation ready 😃

[2020-05-08 14:31] spinoza-dat opened #65 "[Enhancement] Brighter colours"
Some colours are very dark, like blue and purple, and therefore almost unusable with black background when display brightness is law.
It would be nice to have a wider range of bright (like pastel) colours to pick for higher contrast and readability with black background without having to use hyper-saturated ones.

May be related to #15 and #41, as a hex colour picker would solve all of these.

[2020-05-09 15:44] gabriel-tandil opened #66 "The search bar opens too easily"
Nice project. A detail... The search engine opens too easily, it's annoying

[2020-05-09 15:59] SubhamTyagi commented on #66
could you elaborate your issue. i couldn't understand what are you referring.

[2020-05-09 16:06] SubhamTyagi commented on #65
work in progress 😄

[2020-05-09 20:52] unInstance commented on #66
Sometimes you want to get down but you accidentally open the search bar. It happens quite frequently and it is annoying.

Consider having search bar pop up after a horizontal swipe.

The search bar is cool but make the search results stick to the search bar, at the bottom, so that it is suitable for one-handed usage.

[2020-05-09 22:10] gabriel-tandil commented on #66
Just like @unInstance say

[2020-05-09 22:12] gabriel-tandil opened #67 "[Enhancement] Sort by install date"
It would be great to be able to sort through recently installed applications

[2020-05-10 08:44] #54 closed

[2020-05-11 11:24] chihuahua45 commented on #54
Not working, bro 😔

[2020-05-12 14:31] gabriel-tandil commented on #67
It would be very useful to find newly installed applications if one does not know exactly the name (since without the visual support of an icon they are not so easy to find sometimes)

[2020-05-13 13:58] mattzjack opened #68 "[FR] MTF: move last-used app to front"
It'd be nice to have an auto-sort mechanism where the most-recently used app gets moved to top.

[2020-05-13 21:33] ruevs commented on #66
Exactly! The search should open if one swipes up from no more than the bottom 1/8 of the screen. Now it opens with the bottom 1/4 or so. I open it by mistake so often, that I am considering downgrading to 0.10

[2020-05-13 21:56] ruevs commented on #66
I went to read the code and in fact the swipe up gesture does not depend on the location of the swipe, but on the length and speed of the swipe. But I had to read the code to realize this :-)
There is a variable `int swipeMinDistance = 400;` which I think is in pixels. That would make a fast enough movement of more than 400/1920 = 1/5 of the screen a swipe (What about 1280x720 or high resolution s

[2020-05-14 14:13] ralmcruz commented on #54
I am using fennec f-droid but not been able to do create an shortcut.

![Screenshot_20200514-101240_Fennec_F-Droid](https://user-images.githubusercontent.com/53799101/81944829-a9585d00-95d3-11ea-8458-0f59d1fd4998.png)

[2020-05-14 14:17] SubhamTyagi commented on #63
@comradekingu
I have also applied for Weblate gratis support as same time as crowdin. But they process these gratis request once a month. They will take their time. Whenever weblate support is available it will be migrated to there.

[2020-05-14 14:20] SubhamTyagi commented on #67
may be available in next version if not then v0.14 will definitely have this.

[2020-05-14 14:25] SubhamTyagi commented on #54
@ralmcruz
Try the home button shortcut which is shown next to url bar in fennec

[2020-05-14 14:27] SubhamTyagi commented on #68
Will be available at same time as #67 available

[2020-05-14 14:46] SubhamTyagi commented on #66
Prima facie this problem may be related to velocity of gesture.  l am also facing this problem.

[2020-05-14 14:49] SubhamTyagi commented on #20
@aacero @trevorparsons
i also agree that launcher must respect device orientation so this will be available as soon as possible.

[2020-05-14 18:53] ralmcruz commented on #54
I couldn't find it.

[2020-05-15 17:59] Atemu commented on #20
You can already hack this functionality in by using tools like Rotation Manager to force rotation on the app.

It has a few hickups but gives an idea of how it would work.

[2020-05-15 20:40] RDRXS opened #69 "Advanced color picker Pwease"
Can't find accurate colors😣

[2020-05-15 20:45] RDRXS opened #70 "my bad"
feature-request

[2020-05-15 22:10] #70 closed

[2020-05-22 12:31] Jomosoto opened #71 "Option to Disable the search bar gesture"

[2020-05-22 13:36] SubhamTyagi commented on #71
i have fixed this bug(accidental search open) but fdroid buid is failing with message "could not bring up vm 'builder_default''.(today build also failed)
Hope this will be fix soon.

[2020-05-22 15:31] disdaogitacc opened #72 "some issues i dealt with"
first i've got to thank you.
there's some issues i'd like to report:
1. could you please add an option to disable the search function? i know you'd been working on a fix but i don't have that many apps that i'd ever want to search for one
2. this may sound a noob question but i can't choose any font. i've tried 3 common font types(otf, ttf ,woff) but no luck so far.
![Screenshot_2020-05-22-19-42-5

[2020-05-24 09:02] spinoza-dat opened #73 "[Feature Request] Swipe down gesture"
I think a "swipe down for notifications" gesture would be great.
Among other reasons, I personally use this launcher because it allows me to have every app in the bottom right of the screen, where my lil thumb can reach them. Having this notification gesture would be very helpful.
Also a toggle to disable all gestures would be nice, but I think there's already another issue for this.

[2020-05-26 06:34] SubhamTyagi opened #74 "[meta]Crashes reports"
1st reports

This archive file contains crashes since 6 may( version 13)
[crashReports_f_6_to_26_5.zip](https://github.com/SubhamTyagi/Last-Launcher/files/4680295/crashReports_f_6_to_26_5.zip)

[2020-05-27 09:05] Eric3971 commented on #37
Oh yes ! I want it too !

[2020-05-27 11:37] gabriel-tandil commented on #66
Hi! yesterday my phone was updated to version 0.13 and I don't have the problem anymore (with 0.12 it still happened)
Love
Gabriel

[2020-05-27 11:37] #66 closed

[2020-05-27 11:41] gabriel-tandil commented on #71
Possibly the solution to #66 will make this ticket less relevant

[2020-05-27 11:44] gabriel-tandil commented on #67
works perfect, thank you!

[2020-05-27 11:44] #67 closed

[2020-05-28 09:13] j-julian opened #75 "When re-enabling an app in system settings, it does not show up in the launcher"
Title pretty much says it all.

**To reproduce:**

1. Disable an app in system settings
2. Start Last Launcher
3. Re-enable the app
4. App does not show in launcher

**Workaround:**

Updating the re-enabled app seems to add it to the launcher.

It would be great if the launcher could somehow automatically detect this. Or maybe there should be a refresh option in the menu which re-detects installed

[2020-05-28 09:53] spinoza-dat commented on #65
Great work! Well done, thank you so much

[2020-05-28 09:53] #65 closed

[2020-05-28 10:06] spinoza-dat commented on #54
### Doesn't work for me
Android 9
Last Launcher v0.13

I manage to create the shortcuts without any error message, but they won't appear in the launcher (I don't have other launchers installed).
Any suggestion?
![IMG_20200528_120207](https://user-images.githubusercontent.com/63900993/83128294-8356b080-a0db-11ea-8765-7f024113083e.jpg)
![Screenshot_20200528-120007_Bromite](https://user-images.github

[2020-06-02 05:10] chihuahua45 commented on #54
On version 0.13.. Still not working 😔

[2020-06-04 11:03] spinoza-dat opened #76 "[Bug] Homescreen shortcut"
As the old issue hasn't be reopened, I'll open a new one as even in v0.13 (on Android 9) shortcuts can be created from apps but are not displayed. I tested it with Bromite (Chromium browser), MiXplorer, Telegram FOSS and AOSP Contacts.

Here is an example with steps, as you can see no shortcut is displayed, even after a launcher restart or a reboot.

![IMG_20200604_130144](https://user-images.gith

[2020-06-04 11:11] spinoza-dat commented on #72
For point 1, the search function is now really less invasive. I used to have the same issue as I only have 30 apps and I don't even have to scroll.
For point 2, I suggest to create a specific [BUG] issue, I can do it myself as I have the same bug.
For point 3, again, I suggest to create a specific [Enhancement] issue.

P.S. Could you please share somehow your wallpaper? It's beautiful

[2020-06-17 11:02] psychoreactorq commented on #55
I can confirm this using android 6.0.1 on a ZTE ZFive 2 Z836BL. This app crashes repeatedly and without fail on Android 6.

[2020-06-18 00:34] psychoreactorq opened #77 "[Feature request] App groups"
I would like to see a method to make groups of apps, to apply settings to the whole group with one edit. For instance, my games use one color and one text size, so it would speed up customization and make sure the whole group uses exactly one color instead of having to select the same color repeatedly and struggle to get the exact same color on each.

[2020-06-20 03:42] psychoreactorq opened #78 "[Feature request] make debug logs an option in the public build"
I want to see why my favorite launcher is crashing on tapping backup, but it appears that I am required to build the debug version to do this.

[2020-06-22 15:41] RuofengX commented on #28
And pls make a double ensurance that nobodu would reset to default by a quick double click 🌚
and I am now trying to find the backup file to restore 😭

[2020-06-28 09:30] xsteadfastx commented on #72
same for me... would love to use go mono as my font. tried TTF and OFT with no luck. every file selection is grayed out.

[2020-06-28 09:31] xsteadfastx opened #79 "cant select font"
i want to use a different font. when i try to select it, the file manager opens and every file is grayed out. i tried it with OTF and TTF files.

[2020-06-28 09:31] xsteadfastx commented on #79
it looks like its the same bug as in #72.

[2020-07-06 05:16] psychoreactorq commented on #55
I tested this out with Android Studio, and here is the output and the solution.

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.github.subhamtyagi.lastlauncher.debug, PID: 19830
    java.lang.IllegalArgumentException: Unknown pattern character 'Y'
        at java.text.SimpleDateFormat.validatePatternCharacter(SimpleDateFormat.java:323)
        at java.text.SimpleDateFormat.validatePattern

[2020-07-12 14:51] yausername opened #81 "Use right/left swipe gesture for search"
First of all, Thanks for the amazing app!

The up/down gesture to trigger/hide search seems a bit buggy. And because it interferes with the normal scrolling it is hard to get right.
Would it make sense to have the right/left scroll gestures to trigger/hide search box?
I would be happy to send a PR if you think this is a good idea.

Thanks

[2020-07-19 14:45] SubhamTyagi commented on #81
@yausername i agree with you best up/down swipe is hard to achieve , this interfere with scrolling, global gestures. i would be happy to merge PR request regarding this

[2020-07-19 14:49] SubhamTyagi opened #82 "[meta]Move shared preference DB to sqlite db"
Move shared preference database to sqlite db for bug free shortcut support.  Current shortcut implementation is not working well

[2020-07-27 19:45] anibyl commented on #72
I can't select font (ttf) either, I guess this is the reason (MIME type selection is wrong or too narrow):
https://github.com/SubhamTyagi/Last-Launcher/commit/54fe1dbd2bc9b42818eb709a1088eb22e9f01d84#diff-573483ef8a36eb1707a385839b121e6aR901
@SubhamTyagi could you please comment on this?

[2020-07-30 11:36] #81 closed

[2020-08-04 09:04] psychoreactorq opened #85 "Inspection reveals many warnings"
Within Android Studio, I used "Analyze > Inspect Code" and there are a ton of warnings.
![lastlauncher_inspect](https://user-images.githubusercontent.com/194158/89275194-8f914980-d607-11ea-93b2-60b4139d18d3.png)

[2020-08-12 16:44] SubhamTyagi commented on #63
@comradekingu Weblate translation is ready!

[2020-08-12 16:44] #63 closed

[2020-08-12 16:50] SubhamTyagi commented on #64
okay @gabriel-tandil

[2020-08-12 16:50] #64 closed

[2020-08-12 21:11] comradekingu commented on #63
@SubhamTyagi There is an issue saying

 (128)

If you add https://hosted.weblate.org/user/kingu/ as admin in https://hosted.weblate.org/access/last-launcher/ I can try to help with any issues.
Ultimately the Crowdin one has to be closed, as the terms in it are only accepted additionally for people using it.

[2020-08-13 05:50] SubhamTyagi commented on #63
@comradekingu

Done

Done

[2020-08-14 10:16] comradekingu commented on #63
@SubhamTyagi If you close down the Crowdin account I can contribute on Weblate without strings entering the closed Crowdin translation memory. Because of how egregious the terms of use are, to my understanding Last-Launcher can't do that with GPLv3+ strings whose copyright belongs to someone else. Delete all data from it too.

No project that has a "free" account on Crowdin can opt out of submitti

[2020-08-14 11:00] SubhamTyagi commented on #63
@comradekingu i will shut down that account.

[2020-08-15 11:20] SubhamTyagi commented on #63
Cheers @comradekingu ,
I have deleted the project and also my account from Crowdin.

[2020-08-21 15:52] Jomosoto opened #87 "[Bug] App shortcuts with Business Profile"
I've got three working shortcuts to an App feature and to two Business Profile Apps, but after a restart the shortcuts link to the wrong apps/features. (Feature shortcut to the Business Profile App usw.) All other Apps work correctly.

[2020-09-02 15:49] legkamran opened #90 "[FTR] Home screen shortcut support..."
Firstly I am amazed your minimalist idea! And its trully best launcher I ever used! I wanted thank you for your effort! :)

I seen this request but asking again if its possible to add such future it was really amazing...

[2020-09-04 12:02] 532910 opened #91 "material files is not shown or searchabe"
material files is installed, but not shown or searchable

![Screenshot_20200904-145730_Last_Launcher](https://user-images.githubusercontent.com/14617699/92238069-1fedd300-eec1-11ea-9724-38b3394faf4c.png)

https://f-droid.org/packages/me.zhanghai.android.files

[2020-09-04 12:27] 532910 opened #92 "sort by size doesn't work"
![Screenshot_20200904-152659_Last_Launcher](https://user-images.githubusercontent.com/14617699/92239097-19f8f180-eec3-11ea-9842-d361079ccdc4.png)

[2020-09-06 14:34] SubhamTyagi commented on #90
What does it mean by "Home screen shortcut"
Is this same as App shortcut such as PWA, Website Shortcuts etc.
Or something other.. like this https://developer.android.com/guide/topics/ui/shortcuts

[2020-09-06 14:55] SubhamTyagi commented on #82
- [x] Shortcut Database is moved to SQLite

- [ ] Apps data.

[2020-09-06 14:57] SubhamTyagi commented on #79
@xsteadfastx
Could you confirm this also present in version 14?

[2020-09-06 14:58] SubhamTyagi commented on #68
fixed

[2020-09-06 14:58] #68 closed

[2020-09-06 15:05] SubhamTyagi commented on #91
Is this App hide by you ?

[2020-09-06 15:06] 532910 commented on #91
of course nope

[2020-09-06 15:07] 532910 commented on #91
have you tried to install it and find?

[2020-09-06 15:15] SubhamTyagi commented on #55
Bug fix for this has been landed but confirmation is need to close this issue

[2020-09-06 15:19] SubhamTyagi commented on #78
#AppSizeMatters

https://github.com/SubhamTyagi/Last-Launcher/blob/bd2de1bd1940f94d31bfd1dacb745b1a6fdf70c3/app/proguard-rules.pro#L21-L23

[2020-09-06 15:25] SubhamTyagi opened #93 "[meta] Improve code commenting"
Code commenting (grammar and info) must be improved as i commented these in haste and while in journey 🚌

[2020-09-06 15:29] SubhamTyagi commented on #91
i will check it

[2020-09-06 16:13] 532910 commented on #91
I found it: it named just "Files".

[2020-09-06 19:31] legkamran commented on #90
İts when you try to create Home screen shortcut from browser... Browsers say that : Launcher not support it.

[2020-09-06 19:34] legkamran commented on #90
![Screenshot_20200906-233326_SmartCookieWeb](https://user-images.githubusercontent.com/29841945/92333809-6e55ca00-f099-11ea-99b2-bbc500636bd2.jpg)
When I press "Add to homescreen" its giving me:

![Screenshot_20200906-233400_SmartCookieWeb](https://user-images.githubusercontent.com/29841945/92333822-83caf400-f099-11ea-9709-75ba33827091.jpg)

[2020-09-16 01:41] marmonto opened #95 "Hidden Apps Redesign"
I have several hidden apps and the simplicity that can be found in main screen with default apps is not visible with hidden apps. Well, I understand/think that design that part can be difficult, but I really recognize with gratitude if something can be done there.

Thank you so much!
And, by the way, I love this launcher.

[2020-09-21 23:00] nulledone opened #96 "Choose colors based on App Icons and pull down to open notifications"

[2020-10-01 18:22] Danish-Vidar opened #98 "Rename copy bug"
I was trying to copy an app name and it just darkened the copy option. At first I thought it was a GrapheneOS error, but tried another phone with the same resort.

1

![cleaned](https://user-images.githubusercontent.com/71944481/94848064-bca18300-0423-11eb-965a-4772841ad0fc.png)

2

![cleaned2](https://user-images.githubusercontent.com/71944481/94848094-c5925480-0423-11eb-9e6d-223749ad6900.png)

[2020-11-19 09:06] rubyAnneB commented on #75
I've been giving this a try and was recreating the issue with mixed results. I would disable an application, navigate back to the launcher and the shortcut would still be in the launcher but would not open the app. Upon restarting the launcher, the shortcut would be gone.

When I would re-enable the app and go back to the launcher, it would sometimes detect that it's been re-enabled, and sometimes

[2020-11-19 09:08] rubyAnneB commented on #75
I also got this from leakCanary:
[code]

[2020-11-22 14:32] foldfree commented on #72
Is there a workaround for changing the font now? Anyone succeeded?

[2020-11-23 07:11] SubhamTyagi commented on #75
Leak is due to "static reference to context"

[2020-11-23 07:15] SubhamTyagi commented on #72
@foldfree Are you still facing problem in changing the Fonts?

[2020-11-30 11:31] #75 closed

[2020-12-06 06:49] mubashir-rehman commented on #96
I had this request in my mind for a long time. First of all thanks for creating an issue.
I googled for some implementation techniques and found the following:
palette-colors: can be used to get commonly used colors in an image (https://developer.android.com/training/material/palette-colors)
Also, this(https://developer.android.com/topic/libraries/support-library/setup) might help in supporting th

[2020-12-06 06:55] mubashir-rehman commented on #96
Possible duplicate of #41

[2020-12-06 07:05] mubashir-rehman commented on #96
possible duplicate #71

[2020-12-06 07:07] mubashir-rehman commented on #73
The implementation of Gestures  by KISS launcher seems good. Here is the search query https://github.com/Neamar/KISS/search?q=gestures&type=commits .

[2020-12-06 07:13] mubashir-rehman commented on #7
@renyuneyun I would suggest adding widgets at the bottom/top/left edge/right edge/ all sides of the home screen instead of whole new page. It kinda feels cluttering in thinking too but might be a nice addition.
This search query might help https://github.com/Neamar/KISS/search?q=widgets&type=commits .

[2020-12-09 07:25] SubhamTyagi commented on #74
[crashes.zip](https://github.com/SubhamTyagi/Last-Launcher/files/5664134/crashes.zip)

[2020-12-10 10:01] #20 closed

[2020-12-10 10:03] SubhamTyagi commented on #20
it will available in next release
@aacero @trevorparsons @Atemu

[2020-12-10 10:04] #55 closed

[2020-12-10 10:06] SubhamTyagi commented on #82
Done

[2020-12-10 10:06] #82 closed

[2020-12-10 10:07] SubhamTyagi commented on #90
already included

[2020-12-10 10:07] #90 closed

[2020-12-11 02:27] psychoreactorq opened #104 "Can't select files to restore"
When this app calls the function to open and restore backups, there is a text string that determines what files may be selected. The current setting blocks me from restoring backups altogether. I know these details because I worked on it already, but I lost the changes and can't currently recompile to test it.
![Screenshot_20201210-201712](https://user-images.githubusercontent.com/194158/101853849

[2020-12-17 13:44] btimofeev opened #107 "[Feature request] Gesture navigation on Android 10"
Is it possible to add support for navigation gestures introduced in Android 10?

Gestures are enabled in "Phone Settings -> System -> Gestures -> System Navigation -> Gesture Navigation". But this menu says that the launcher does not support this functionality, so you cannot enable it.

[2020-12-17 15:20] btimofeev commented on #104
https://github.com/SubhamTyagi/Last-Launcher/blob/2abed1233d9c38a8b70d7675fd6c239a6a7c8a3e/app/src/main/java/io/github/subhamtyagi/lastlauncher/LauncherActivity.java#L943 must be chooseFile.setType("*/*");

[2020-12-17 15:38] btimofeev commented on #72
I cannot select the font and the backup file, they are just grayed out. Please change the mime type to `chooseFile.setType("*/*");`

[2020-12-18 05:22] btimofeev opened #108 "Black unreadable toast on default theme"
When I back up my settings:

![Screenshot_20201218-081635-01.jpeg](https://user-images.githubusercontent.com/1546407/102577818-d8a2ef80-4109-11eb-8dc5-e68137755339.jpeg)

[2020-12-30 20:17] btimofeev opened #110 "Crash"
The application crashes periodically. Today crashed when I had logcat connected, the error is:

`2020-12-30 23:10:18.337 24966-24966/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.github.subhamtyagi.lastlauncher, PID: 24966
    java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.next(ArrayList.java:860)
        at io.github.subhamtyagi.lastlauncher.LauncherActiv

[2021-01-11 07:22] Sbgodin commented on #104
It's exactly the same behavior I saw.

[2021-01-22 15:00] btimofeev commented on #110
I have this crash very often when I install applications. I found that in the code you remove the application from the list in a foreach loop https://github.com/SubhamTyagi/Last-Launcher/blob/3368bf9486a52f473691d0ecffaf50b742e062bc/app/src/main/java/io/github/subhamtyagi/lastlauncher/LauncherActivity.java#L655-L657

But as this article suggests https://www.baeldung.com/java-concurrentmodification

[2021-01-24 16:45] btimofeev commented on #107
This feature started working with all launchers after updating the OS to Android 11. So nothing needs to be done.

[2021-01-24 16:45] #107 closed

[2021-02-06 07:11] btimofeev commented on #110
I have not seen this crash again after fixing

[2021-02-06 07:11] #110 closed

[2021-02-06 22:01] Stenafo opened #116 "Little tip"
hi, I wanted to give a tip for a new feature.  it would be convenient to be able to search even among hidden applications, perhaps you can let the user choose whether or not to activate this feature from the settings.

[2021-02-07 06:04] SubhamTyagi commented on #116
You have to add Italian language to your weblate profile and you will see the option to add your language in any projects.

[2021-02-20 07:18] SubhamTyagi commented on #74
1: java.lang.RuntimeException: An error occurred while executing doInBackground()
`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String io.github.subhamtyagi.lastlauncher.model.Apps.getAppName()' on a null object reference
	at io.github.subhamtyagi.lastlauncher.LauncherActivity$SortTask.lambda$doInBackground$0(LauncherActivity.java:1223)
	at io.github.subha

[2021-02-20 13:43] SubhamTyagi commented on #92
Can't reproducing this.

Would you details out how to reproduce this?

[2021-02-20 14:35] #91 closed

[2021-02-20 14:36] #104 closed

[2021-02-20 14:38] #108 closed

[2021-02-20 14:48] #32 closed

[2021-02-25 04:35] btimofeev commented on #79
The file selection issue has been resolved, but now when I select a font, it just doesn't apply.  I've tried downloading multiple fonts, but none are installed.

[2021-02-26 18:22] btimofeev commented on #79
@SubhamTyagi when the user chooses a font, then you need to copy this file to the application's private directory and take the path from there. This will eliminate many problems. I may be wrong, but it seems to me that my problem (see the message above) is most likely related to the fact that on 10 android the file manager does not give the usual path to the file, but the URI. And from the private

[2021-03-19 07:50] quite opened #121 "[Feature] align to bottom"
Would be great if the whole app cloud could be align to the bottom, where the thumb is likely to be. Using top-padding is a work-around, but as it eats up space, the cloud cannot grow upwards.

Combining align-to-bottom with a reverse sorting would be nice, too. That way, one could have for example largest, or most recent at the bottom.

[2021-04-09 10:25] niyumard commented on #79
I'm using android 10 and I can confirm that when I choose a font from my Files nothing happens.

[2021-05-11 07:11] githupper opened #125 "Keeps forgetting it's the default launcher"
On occasion when installing some apps, Last Launcher will forgetting it's the default launcher and the original launcher ends up being used. Happens on both GrapheneOS and CalyxOS.

The apps installed that reset the launcher default can be apps like Twidere or Element which should not reset the launcher default nor crash Last Launcher.

[2021-05-13 06:31] lijovklm commented on #121
I was thinking of this and came here to add. But here it is already.
Would be really helpfull.

Combining align-to-bottom with a reverse sorting would be nice-- Just a reverse sorting should work perfect with the current setting. Instead of getting most recent on top, Reverse sort should list them bottom.

[2021-05-16 15:53] SubhamTyagi commented on #125
This was because of Crashing the launcher on updating some apps.

[2021-05-16 16:07] SubhamTyagi commented on #79
will fix in v0.17

[2021-05-16 16:17] #25 closed

[2021-06-05 15:47] #72 closed

[2021-06-06 04:53] LiquiiiiiiiiidSnaaaaake opened #128 "[Bug] Strange behavior of colors when you're not using the default theme."
**Checklist.**

- [x] I am using the latest version - 0.17
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.

**Steps to reproduce the bug.**

1. Go to "Themes".
2. Choose any theme, except "Default Theme".
3. After that, change the size of one or multiple apps.

**Actual behaviour.**

The color of those apps reset to gray.

**Expected behavior.**

The col

[2021-06-06 05:39] LiquiiiiiiiiidSnaaaaake commented on #128
What I'm trying to say is that.. you should be able to change the size of your apps without affecting their color.

[2021-06-11 13:46] mubashir-rehman opened #131 "[Feature Request] At a Glance"
It would be great to have a "at a glance" widget like that google ships with its launcher that displays time, day, notifications, playing media and weather info.

[2021-06-18 19:47] disdaogitacc commented on #72
sorry for the delay. i'd lost it, today i found it and here for you:
![1689](https://user-images.githubusercontent.com/65776661/122609711-ac096980-d093-11eb-8caf-d894f1d7d270.png)

[2021-06-21 10:18] fps opened #132 "Build instructions missing?"
Hi,

I'm trying to build this app from source. Just loading it in the current Android Studio does not work (usually I would expect to be able to press "Run" and have it go to my emulator or the device, but Android Studio instead asks me to "Edit configurations...").

What steps are necessary to build the app from source?

Thanks for the awesome launcher by the way :)

[2021-06-21 16:26] SubhamTyagi commented on #132
There no special build-instructions to build this app, follow the android studio guide.

[2021-06-22 13:13] fps commented on #132
Hi again.

Android Studio is weird :) Anyways, I had to change the gradle and gradle plugin versions in the File/Project Structure settings to something more recent. Then suddenly the build worked fine. Previously I would always get "Gradle Sync: Sync failed: Unknown reason". Even the log didn't have any more helpful infos.

Possibly I made an error right at the start by just opening the project a

[2021-06-22 13:19] fps commented on #132
Yes, importing the project as opposed to opening it might have made a difference. Or maybe installing the android 29 SDK. Who knows in this weird world of stateful IDEs. Anyways, I can now try hacking on it ;) Thanks again..

[2021-06-22 17:28] SubhamTyagi commented on #132
If you need any help related to codes, ping me at this issue

you can also pull request these changes, I am happy to apply them 👍

[2021-06-25 07:58] SubhamTyagi commented on #74
https://github.com/SubhamTyagi/Last-Launcher/issues/74#issuecomment-782577432

1. -> fixed
2. -> fixed

[2021-06-25 07:58] #74 closed

[2021-06-25 07:59] #132 closed

[2021-06-25 08:09] SubhamTyagi commented on #128
This is due to a bug in library

[2021-07-14 00:34] Donkey-Doug opened #135 "[feature request] Show apps in list"
Make it possible to show the apps in a list.

[2021-07-15 07:13] #79 closed

[2021-09-11 20:25] algor512 commented on #135
+1 to this feature.

I'm not an expert in android programming, but is it true that for implementing this feature one should use another layout (in place of FlowLayout)?

https://github.com/SubhamTyagi/Last-Launcher/blob/9e1f5355b457d37e4d8218e3d00a93d704367d4d/app/src/main/java/io/github/subhamtyagi/lastlauncher/LauncherActivity.java#L139

[2021-10-26 09:32] hagelschaden opened #140 "Keeps crashing since last android update"
I love this launcher but I cant use it anymore, because it keeps crashing all the time. Mostly when I close another app then I am back to my OnePlus launcher. The most annoying part is, that it also resets the standard launcher to none.

I am using the Oneplus 6 and this has startet since the last upgrade. Any ideas how to fix this?

[2021-10-30 11:14] hagelschaden commented on #140
I'm assuming my phone has to be rooted for me to be able to see that folder. But sadly it is not :(

[2021-10-30 14:45] SubhamTyagi commented on #140
No, Root is not required.  Just go to external storage you will see the 'android' folder.

[2021-10-30 15:07] hagelschaden commented on #140
Strange. There is an Amdroid folder, but data is completely empty. There also exists a hidden .android folder. Here data has lots of folders but none is called like the one you mentioned. None is even called last laucher.

[2021-10-31 09:07] SubhamTyagi commented on #140
If launcher(debug apk) crashes it will create that directory.

[2021-10-31 09:09] SubhamTyagi commented on #140
I will try to do a convenient method for reporting crashes.

[2021-10-31 09:20] hagelschaden commented on #140
Thanks! It keeps crashing but the folder is not being created.

Anyways I was thinking about installing Lineage OS today or tomorrow. Maybe this will solve the problem and Oxygen os is at fault here..

[2021-10-31 09:26] SubhamTyagi commented on #140
Are you using debug apk file which is provided above?

[2021-10-31 09:38] hagelschaden commented on #140
Of course! I made it the default launcher and it keeps displaying the same behavior but won't create the directory. Android/data is entirely empty there is not a single folder in there. Should I uninstall the other version?

[2021-10-31 10:05] SubhamTyagi commented on #140
Not necessary.

Very strange, May be there hidden folder or in .android folders

[2021-12-05 21:50] hagelschaden commented on #140
So the issue seems to have vanished with todays Android update. But thanks for trying to help. It would have been sad to uninstall this launcher. It's fantastic!

[2021-12-17 20:45] foldfree opened #142 "[feature request] add 'material you' support"
'Material you' is an automatic colorscheme based on the wallpaper  of the phone(like pywall on Linux). It choses colors that fit but also easy to read against the background. It's a feature from android 12.

Not only that, but to have the homepage adapt from day/night theme of the phone would be a pretty nice feature too.

[2022-01-13 14:35] comradekingu opened #143 "Metadata translation license"
Is there a reason why only the metadata (fastlane) translations are licensed GPLv3-only,
and not GPLv3+

https://hosted.weblate.org/projects/last-launcher/store-metadata/#information

As this seems to be in error, can I change it to GPLv3+?

[2022-02-18 19:44] pbgapski commented on #125
I have seen this as well. I am on android 11 (lineageos).

After installing app from google play, home goes back to built-in launcher. I set it back as default launcher on settings.

Next I installed another app as a test from play store (Open Camera). No problem. Removed the app. Still fine. Installed app (Open Camera) from f-droid, and default launcher setting was lost again, reverted to built-i

[2022-03-03 06:41] SubhamTyagi commented on #143
Yes

[2022-03-03 16:23] comradekingu commented on #143
Top stuff, fixed in https://hosted.weblate.org/projects/last-launcher/#information

[2022-03-03 16:23] #143 closed

[2022-03-21 03:18] 2catycm commented on #92
Question: what is the expected behavior?
I am new to Last Launcher, and I am also wondering is there a doc or video decribing the usage?

[2022-03-21 03:23] 2catycm commented on #92
How is size computed?

[2022-03-21 09:54] SubhamTyagi commented on #92
https://github.com/SubhamTyagi/Last-Launcher/blob/5ff5fa920aee7091646e9523acc23ae6f1b9bad9/app/src/main/java/io/github/subhamtyagi/lastlauncher/model/Apps.java#L45

[2022-04-19 01:47] 2catycm commented on #98
Hi， were you trying to copy the app name from last launcher to the system clipboard and then paste it somewhere else? Or did you want to rename the app in last launcher by the content copied outside?

[2022-04-19 02:16] 2catycm commented on #73
On my phone, if I swipe down, the notification can appear.
![Screenshot_2022-04-19-10-13-47-929_io github subhamtyagi lastlauncher debug](https://user-images.githubusercontent.com/41530341/163906671-c628f626-0485-40a9-9a74-35f505db871d.jpg)
![Screenshot_2022-04-19-10-13-52-084_io github subhamtyagi lastlauncher debug](https://user-images.githubusercontent.com/41530341/163906724-1ddf287e-aa70-4788-

[2022-04-19 03:19] 2catycm commented on #98
![Screenshot_2022-04-19-11-17-01-011_io github subhamtyagi lastlauncher debug](https://user-images.githubusercontent.com/41530341/163913453-0330e0a0-55b6-4ac2-8360-21f4fd9dd3ed.jpg)
may be you mean by selecting the text, there appears non-apparent black boxes hiding the text.

[2022-04-20 12:45] 2catycm opened #150 "[Feature Request] Chinese Pinyin support for App Searching"
# Feature Request: Chinese Pinyin support for App Searching

Dear @SubhamTyagi,
    I am Ye Canming, a student developer from Southern University of Science and Technology, China.
I am writing to suggest you to add Chinese Pinyin support for App Searching feature into Last-Launcher.
Chinese Pinyin, or Chinese phonetic alphabet, is one of the standard ways for Chinese people to
- type Chinese with

[2022-04-20 15:43] dalb8 opened #151 "Truncated text"
With certain fonts, e.g. italics the end is chopped off or truncated.
![truncate](https://user-images.githubusercontent.com/726844/164270153-25db3ec7-a811-4a01-b1b7-f92f131e225b.png)

[2022-04-20 20:39] fairking opened #152 "Font size is too big"
Some of my apps are growing exponentially big.
Can I set the maximum allowed font size somewhere, so it stops growing at some point? Thanks for the wonderful app.

Are the any plans to add notifications?

![Screenshot_20220420-212143](https://user-images.githubusercontent.com/13495631/164318795-276ccf91-cde8-4a0d-9724-ec6c2ec0e40f.png)

[2022-04-21 01:16] SubhamTyagi commented on #150
@2catycm Thanks dude. Great work.
After adding this feature how much bigger is apk file (release version) in size?

[2022-04-21 11:42] JiangRunzhi commented on #152
May I try to work on this? I feel like I have some ideas. I will try to give some solutions later.

[2022-04-21 13:57] Annabefish commented on #142
Hi, @SubhamTyagi , may I work on this issue?

[2022-04-21 13:58] Leo-Adventure commented on #151
Hi, may I work on this issue? I have come up some ideas

[2022-04-21 13:59] xuzhi2021 commented on #77
Hi, may I try to work on this issue?

[2022-04-21 14:56] Seaflowery commented on #26
May I try to add a simple tutorial for this app?

[2022-04-21 16:46] 2catycm commented on #150
It is 197.3KB using Android Studio->Build->Generate Signed Apk
![image](https://user-images.githubusercontent.com/41530341/164510309-d251fca1-b904-405c-a3b0-8e3b8d971ea4.png)

[2022-04-21 16:52] 2catycm commented on #150
Before the commits, it was 168.1KB
![image](https://user-images.githubusercontent.com/41530341/164511043-f7719578-40ba-405f-b28e-fc82936fd43f.png)
The 30kb is some kind of dictionary compiled with java code into classes.dex

[2022-04-22 02:14] SubhamTyagi commented on #142
@Annabefish PRs are always welcomed by me 😁

[2022-04-22 02:30] SubhamTyagi commented on #151
Yes. :  I think only padding and margins setting will fix this issue

[2022-04-22 02:31] SubhamTyagi commented on #135
Yes you can try this.

[2022-04-22 02:35] SubhamTyagi commented on #26
Yes you can.

Remember don't use 3rd party library which are large for this:  only single Activity is enough.

[2022-04-22 02:35] SubhamTyagi commented on #77
Yes you can.

[2022-04-22 08:22] Leo-Adventure commented on #151
OK, I'm currently work on this~

[2022-04-22 09:36] xuzhi2021 opened #154 "Reset Color doesn't work"
Hi, I found that when I click Reset Color on an app whose color was not default, the color doesn't change to the default one. I ask one of my friends and she said she meet this problem too.  If this is a bug, I would like to try to fix it, may I?

[2022-04-22 13:44] leavingH opened #155 "[Feature Request] Ascending order by font size"
I saw that our app could sort by font size, with bigger fonts coming first, but I wanted to put smaller fonts in front to make the app progressively bigger from top to bottom. Can this be implemented?

[2022-04-22 13:46] SubhamTyagi commented on #154
@xuzhi2021 welcome to board my friend
Thanks

[2022-04-22 13:47] Tankkupper commented on #155
I think this feature is simple, but there is an implementation necessity, so I want to implement this feature

[2022-04-22 13:51] SubhamTyagi commented on #155
Yes you can try this.
After selecting short by size: it must show popup  having two entries aka ascending and descending.

Regards.
.

[2022-04-22 13:56] RanRanMiao opened #156 "[feature request]Sort in random order"
Can the order of Apps be shuffled and not be arranged in any order?  It makes for a better look.

[2022-04-22 14:04] Manmade290 commented on #156
Yeah. I want to try this for some fresh feeling too, always watching the same order makes me bored.

[2022-04-22 15:02] SubhamTyagi commented on #156
And for worst usability 😀

[2022-04-22 15:48] TimothyTian opened #157 "[Bug]Button translation error"
I am a Chinese user, when I used this app, I found that in the case of Chinese, click on the Setings-Sort Apps By-Name. The Chinese translation of ''name'' is wrong. It should be "名称", not "明朝". I think I already solve this problem, can I give a pr to it?

[2022-04-22 16:38] SubhamTyagi commented on #157
Translation is managed by weblate(see redme file). So translate this string (or others) on weblate.
Thanks.

[2022-04-22 16:38] #157 closed

[2022-04-23 03:15] 11910916 commented on #28
May I work on this issue?

[2022-04-23 03:17] 11910916 commented on #142
Can i work on this issue?

[2022-04-23 03:23] 11910916 commented on #135
Can I work on this issue?

[2022-04-23 03:29] Anonyzh opened #159 "[feature request] Delete Last-Launcher name"
Because we have opened the app,  the name should be removed. Otherwise, we click on it, which just makes it bigger and doesn't do anything. In addition, may I try to work on this issue?

[2022-04-23 03:41] hahcde commented on #135
#160

[2022-04-23 03:43] Anonyzh commented on #135
#160

[2022-04-23 03:44] hahcde commented on #135
#160

[2022-04-23 05:30] TIANGeng708 commented on #156
I have submitted a solution for this issue.  This gives the user more choices and a better look.

[2022-04-23 07:35] miadu opened #162 "[Feature request] The second priority"
Currently, only one condition can be used when sorting apps.  However, users always want to put their most-used apps on top so they can find them more easily.
I wonder whether it is possible to sort the two apps according to their recent usage frequency whenever the first condition is the same.  Thank you!

[2022-04-23 07:36] TIANGeng708 commented on #162
Wow! I have thought about the request. I can help you realize it!!

[2022-04-23 07:57] SubhamTyagi commented on #159
This was intentionally left to debug app.  When app goes stable it will be removed. Single line PR welcomed and PR will not be merged til this app goes stable version

[2022-04-23 08:00] SubhamTyagi commented on #28
Yes you can.

[2022-04-23 08:10] TIANGeng708 opened #165 "[Bug] Chinese display error"
Hello, I think users from China are very interested in your App.  But when I was browsing the app in Chinese in China, I found there is a bug in this APP.  In the case of Chinese, click on the Setings-Sort Apps By-Name. The Chinese translation of “name” is wrong. It should be "名称", not "明朝".
I have solved the bug, and I will submit my code later. Thank you!

[2022-04-23 08:16] SubhamTyagi commented on #162
Are you talking **recently first** sorting features? Kindly test that setting

[2022-04-23 08:26] SubhamTyagi commented on #165
I have already told that Translation is manages by weblate.  See ReadMe file

[2022-04-23 08:35] TimothyTian commented on #165
Hello, I understand the translation is automatically generated.  However, I modified the project to make it work.  Thank you!

[2022-04-23 09:40] Anonyzh opened #167 "[Feature request] Set Themes Change"
Whenever he opens the app, his theme is always the same.This may have some impact on the different times the app is opened.I am thinking about designing it.
For example, if the app is opened in the daytime with a grey background and opened in the evening with a black background, it may have a better experience.
I am also trying to do a simple aspect, to solve this solution

Oh! I see problem #142,

[2022-04-23 09:45] Anonyzh commented on #167
I don't think it's too hard, I already have a simple implementation

[2022-04-23 11:13] Manmade290 opened #170 "[Feature Request]Exit function"
Maybe we can add an exit option in global settings which makes it more complete. I have finished this part by using present code and doesn' t change too much in strcture.

[2022-04-23 11:19] Manmade290 commented on #170
#171 Finished here

[2022-04-23 12:17] Leo-Adventure opened #172 "[Feuture Request] Adjust the interval of each APP label"
When I'm using Last-Launcher, I usually find that the interval of each APP label is too close to distinguish, so I want to add a button in the "Padding" part for users to adjust the interval of each APP label to make the layout more beautiful.

And I have already implemented a simple version and I'm writing some tests on it, could it be OK to become a new feature of the Last-Launcher? Looking forw

[2022-04-23 12:35] SubhamTyagi commented on #165
App strings are translated by contributors on weblate you can also translate them on weblate.

[2022-04-23 12:37] SubhamTyagi commented on #165
App strings are translated by contributors on weblate you can also translate them on weblate.

[2022-04-23 13:04] SubhamTyagi commented on #170
What is the purpose of this exit function?

[2022-04-23 13:05] SubhamTyagi commented on #172
Screenshot?

[2022-04-23 13:31] ssssssory commented on #135
I thought the problem seemed simple, so I simply rewrote it and made it a list.

[2022-04-24 00:58] Leo-Adventure commented on #172
One button has been added in the "Padding" option, and the button can be used to adjust the interval between app labels.

![Screenshot_20220424_085436_io github subhamtyagi](https://user-images.githubusercontent.com/82221347/164951122-a3e7d1df-22f9-442d-9e69-f06c3da71c44.jpg)

![Screenshot_20220424_085429_io github subhamtyagi](https://user-images.githubusercontent.com/82221347/164951114-5b685904-

[2022-04-24 03:35] SubhamTyagi commented on #172
Waiting for PR

[2022-04-24 09:27] #150 closed

[2022-04-24 10:00] 2catycm commented on #85
Hi, my teammate and I are trying to use Checkstyle, PMD and SpotBugs to check new codes that we will write in the future PRs, in order to reduce future warnings. I wonder if there is a coding standard for this project? If not, shall my teammate and I follow google java coding standard？

[2022-04-24 12:37] Seaflowery commented on #116
Hi @SubhamTyagi , can I work on this issue(search with/without hidden application)?

[2022-04-24 18:18] SubhamTyagi commented on #116
Hey @Seaflowery if you are new to Android development I wouldn't recommend you to do this as it is greater task and requires big overhaul (or some hacky way). As I am seeing in recent time lots of newcomers are creating a PR for this app I happy to assist them. I already have labelled some issue as **help wanted** or **good first issue**. You can try them or create some features for this app.

[2022-04-24 18:28] SubhamTyagi commented on #85
This project doesn't have any own standard. Java, Android studio standard are applied to this project.

[2022-04-24 19:13] Seaflowery commented on #95
I would like to take this issue, but I do not clearly understand the requirements. Could you explain the feature in a clearer way? Thanks!

[2022-04-24 19:15] Seaflowery commented on #116
@SubhamTyagi Thanks for your kind reminding! I do like to try another feature.

[2022-04-25 02:35] SubhamTyagi commented on #95
Currently hidden apps are being shown as as list. After redesigning they may be shown as the main screen. So adaptor view will be migrated to Flow layout.

[2022-04-25 05:05] Seaflowery commented on #26
I have implemented the feature https://github.com/SubhamTyagi/Last-Launcher/pull/181

[2022-04-25 05:51] Seaflowery commented on #95
Thanks for you explanation! I gonna take this issue.

[2022-04-25 14:23] TimothyTian commented on #165
OK, I think I will check that out later

[2022-04-25 14:26] Manmade290 commented on #170
This add an exit option in global setting, while you cannot close this app in normal way but  to use home button.

[2022-04-25 20:22] fairking commented on #152
I am running out of my screen space guys 😉

![Screenshot_20220425-211633](https://user-images.githubusercontent.com/13495631/165168431-2449fca8-678d-4dd4-9554-ac85242e6b29.png)

[2022-05-03 10:21] huangyinhaow opened #183 "Feature suggestion"
I recommend adding reverse sorting because it's always easier for people to touch the lower area when they're using their phone.

[2022-05-03 10:33] huangyinhaow opened #184 "Remove the right navbar"
It looks inconsistent.

[2022-05-10 07:46] xuzhi2021 commented on #152
Hi, may I try to work on this issue?

[2022-05-15 06:33] Annabefish commented on #121
Hi, @SubhamTyagi , can I work on this issue?

[2022-05-16 06:19] SubhamTyagi commented on #121
@Annabefish yes you can work on this. I am always welcome contributions.
Thanks

[2022-05-22 07:12] Leo-Adventure opened #185 "[Feature Request] Adjust the initial interval of APP's label"
When I use the Last Launcher, I find the initial interval of each APP's label is too close to distinguish, so now I want to adjust the initial interval of each APP's label to make it more comfortable to see. And now I have idea to add the feature.

[2022-05-22 07:32] Leo-Adventure commented on #185
The feature screnshot is shown as belows.
![Screenshot_20220522_153005_io github subhamtyagi](https://user-images.githubusercontent.com/82221347/169684000-1110f96e-9877-4b29-bcfe-f44f39498779.jpg)
![Screenshot_20220522_153200_io github subhamtyagi](https://user-images.githubusercontent.com/82221347/169684002-88019635-2ea9-4936-8706-d6840f513ea0.jpg)

[2022-05-22 09:45] Manmade290 opened #187 "[Bug] The text color in wallpaper theme is not correct"
As title says, when I choose the hacker green, the text color in wallpaper theme is still white but not hacker green. The same problem happens on other themes especially on white theme which cause the text color is also white. I have fixed this little bug already.
![1_1](https://user-images.githubusercontent.com/90378991/169689322-415f1e06-a297-4a67-80b0-ae275e998d05.jpg)
![1_2](https://user-image

[2022-05-27 05:17] tny84 opened #193 "[FEATURES REQUEST] Add options allow user to set font size limit to all apps"
![Screenshot_2022-05-27-12-16-13-84_2f43fb9e0c453393966b846a4ab55c35](https://user-images.githubusercontent.com/97304284/170634161-9509da37-6853-489f-91f2-0459c544f3b9.jpg)
My Chrome gone wild

[2022-05-28 09:00] TimothyTian opened #195 "[Bug] BackGround Wallpaper Button in Theme cannot be displayed when switching themes"
![test1](https://user-images.githubusercontent.com/74884169/170818522-b0526a7f-35ef-4610-b26a-5d962df0bb3f.jpg)
![test2](https://user-images.githubusercontent.com/74884169/170818524-9d45cc58-7bb2-4907-a973-1c9dff646554.jpg)

When I switch the theme from WhiteOnBlack to BlackOnWhite, the BackGround Wallpaper will not show up, and I somehow manage it by change the BackGround Wallpaper button color

[2022-05-28 15:18] hahcde opened #197 "Font size exceeds limit"
The font's size limit is set to 90
![GNL3A 4DUB 2 (89LBV%CV9](https://user-images.githubusercontent.com/72482143/170831651-f34d1297-1135-43f0-ba5d-d0be27e3fa0f.png)
but after constantly clicking apply it's size exceeds the limit，This will cause the page to be completely occupied by an application
![VUHCO(UF}E8HLA6Q}}7~ZBF](https://user-images.githubusercontent.com/72482143/170831582-479c6dcb-ac5a-

[2022-05-29 08:18] #197 closed

[2022-06-08 10:52] mgarridoe commented on #193
My 2¢:

I think that key may be proportionality.

By using a table similar to this with values [app,launchs] and assigning the font_max_size to the most launched app and proportionally up to font_min_size for the least launched one, size issue would definitely get addressed.

![image](https://user-images.githubusercontent.com/9870240/172597890-42e353bc-466b-410b-8edc-05bafabb4645.png)

Kind regard

[2022-06-30 02:38] Sagarparvizali commented on #195
Search button is not visible in my case? ANY HELP

[2022-06-30 02:43] Sagarparvizali opened #202 "Search Button is not visible"
Can you please update the launcher, the search button is not visible in my case, and it's the only flaw that blocks me from utilizing this Awesome launcher.

[2022-10-26 02:29] #125 closed